/* цвет основного текста #757575 */
/* цвет хедера и футера #2F303A */
/* цвет при фокусе #2196F3 */
/* цвет заголовков #212121 */
/* цвет текста в герое #FFFFFF */
*,
*::after,
*::before {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
:root {
  --main-title-color: #757575;
  --second-title-color: #212121;
  --accent-color: #2196f3;
  --color-header: #2f303a;
  --text-hero: #ffffff;
  --card-set-gap: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-title-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/*-------- site-nav-header---------- */
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  align-items: center;
}
.main-nav {
  align-items: center;
}

.site-nav,
.site-nav-contacts,
.main-nav {
  display: flex;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-text {
  color: var(--accent-color);
}
.main-nav-link {
  display: inline-block;
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav-link:active {
  color: var(--accent-color);
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.header-icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-contacts {
  margin-left: auto;
  display: inline-block;
  display: flex;
  align-items: center;
}

.site-nav-link {
  margin-right: 50px;
}

.link-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------HERO---------------------- */
.box {
  background-color: var(--color-header);
  color: var(--text-hero);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}

.box-title {
  margin: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--text-hero);
  max-width: 696px;
}
.box-title-btn {
  border-radius: 4px;
  justify-content: center;
  margin-top: 30px;
  border-color: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--text-hero);
  background-color: var(--accent-color);
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/* --------------------MODAL------------------------------------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-button-x {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: unset;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  background-color: var(--text-hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  font-weight: bold;
  color: var(--second-title-color);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.modal-label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-title-color);
  text-align: left;
  display: block;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}

.modal-button-x:focus .modal-close-x,
.modal-button-x:hover .modal-close-x {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-massage {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-massage::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-massage:focus,
.modal-massage:hover {
  outline: none;
  border-color: var(--accent-color);
}
.modal-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid var(--second-title-color);
  margin-right: 7px;
}
.modal-accept-policy {
  color: var(--accent-color);
}
.modal-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-title-color);
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
}
.modal-checkbox:checked + .modal-checkbox-label::before {
  padding: 3px;
  background-image: url(../images/vector.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-origin: padding-box;
  border: none;
  background-position: center;
}
.modal-checkbox:focus + .modal-checkbox-label::before,
.modal-checkbox:hover + .modal-checkbox-label::before {
  border-color: var(--accent-color);
}
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--text-hero);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-self: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 15px 55px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  background-color: #188ce8;
}
.modal-button:hover,
.modal-button:focus {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-privat {
  text-align: left;
}

/* /* --------------ABOUT---------------- 
 */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.about-img {
  display: block;
  height: 120px;
  fill: #212121;
}

.about-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features {
  margin-top: 0;
}
.about-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.desc {
  margin-bottom: 0;
}
/* --------WORKS--------------------- */
.works {
  padding-bottom: 94px;
}

.works-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.works-img {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}

.works-text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-hero);
  background: rgba(47, 48, 58, 0.8);
}

.works-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}
/* ---------MASTERS----------------- */
.masters {
  background-color: #f5f4fa;
}
.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.masters-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  background: var(--text-hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--text-hero);
  width: 44px;
  height: 44px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-item-content {
  padding: 30px 32px;
}
.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--text-hero);
}

.social-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}
.masters-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 10px;
}
.masters-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
/* ----------clients --------------*/

.clients-item {
  display: flex;
  margin-top: 50px;
}
.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.clients-logo:not(:last-child) {
  margin-right: 30px;
}

.clients-logo {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}
.clients-link {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.clients-icon {
  fill: #afb1b8;
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}
.clients-logo:hover,
.clients-logo:focus {
  border: 1px solid #2196f3;
}
.clients-icon,
.clients-logo {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon,
.clients-logo {
  fill: currentColor;
  color: #afb1b8;
}

/* --------FOOTER--------------- */
.footer {
  background-color: var(--color-header);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-item {
  margin-bottom: 9px;
}

.footer-social {
  margin-left: 70px;
}
.footer-social-logo {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
}
.footer-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item {
  display: flex;
}

.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-hero);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo-text {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-hero);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.footer-link-contacts {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
}

.footer-social-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-hero);
  margin-bottom: 20px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  fill: var(--text-hero);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link:hover,
.footer-link:focus,
.footer-link-contacts:hover,
.footer-link-contacts:focus,
.footer-logo:hover,
.footer-logo:focus,
.link-contacts:hover,
.link-contacts:focus,
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.footer-link,
.footer-link-contacts,
.footer-logo,
.link-contacts,
.logo {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-footer-container {
  margin-left: auto;
}
.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-hero);
  margin-bottom: 20px;
}
.form-footer-email {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--text-hero);
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-footer-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-footer-email:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form-footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin-left: 12px;

  color: var(--text-hero);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-footer-button:focus,
.form-footer-button:hover {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  background-color: #188ce8;
}
.form-footer-icon {
  margin-left: 10px;
  fill: var(--text-hero);
}

/* ------ PORTFOLIO СТРАНИЦА 2----- */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item {
  text-align: center;
}
.portfolio-examples-item:hover .overlay {
  transform: translateY(0%);
}
.portfolio-examples-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-title-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  height: 50px;
  padding: 10px 32px;
  border: none;
}
.portfolio-title-btn:hover,
.portfolio-title-btn:focus {
  background-color: var(--accent-color);
  color: var(--text-hero);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.acccent {
  background-color: var(--accent-color);
  color: var(--text-hero);
}

/* -------work-examples ---------*/

.card {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-content {
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background: #ffffff;
  box-sizing: border-box;
}
.portfolio-examples-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.portfolio-examples-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-top: 4px;
}
.portfolio-examples-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-examples-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  display: inline-block;
}
.current-studio::after {
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}
.current-portfolio::after {
  content: '';
  display: block;
  position: absolute;
  width: 78px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  color: var(--text-hero);
  font-size: 18px;
  line-height: 1.5;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .overlay,
.card:focus .overlay {
  transform: translateY(0%);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}
.works-img {
  display: block;
}
